fastapi
uvicorn
pydantic
pinecone
langchain==0.2.16
langchain-text-splitters
langchain-pinecone==0.1.3
langchain-community==0.2.16
langchain-huggingface
sentence-transformers
unstructured
langchain-google-genai
