fastapi==0.115.12
uvicorn==0.34.2

langchain==0.3.25
langchain-core==0.3.59
langchain-community==0.3.24

langchain-pinecone==0.2.6
langchain-cohere==0.4.4

pinecone==6.0.2
cohere==5.15.0

python-dotenv==1.1.0
pydantic==2.11.4
